<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace : package처럼 용도별로 구분하기 위한 이름 -->
<mapper namespace="board">

	<insert id="insertBoard" parameterType="db.BoardDTOIn">
		insert into board set title=#{title},
							  content=#{content},
							  count = 0,
							  reg_date=now();
	</insert>
	
	<select id ="printBoard" resultType="hashmap">
		SELECT num, title, count, reg_date FROM board ORDER BY num DESC
	</select>
	
	<select id="selectPage" parameterType="db.PageIn" resultType="hashmap">
		SELECT num, title, count, reg_date FROM board ORDER BY num DESC LIMIT #{start}, #{pageSize};
	</select>
	
	<select id="selectCount" resultType="hashmap">
		SELECT COUNT(*) AS cnt FROM board;
	</select>
	
	<select id="selectContent" parameterType="int" resultType="db.ContentDTOOut">
		SELECT * FROM board WHERE num=#{num};
	</select>
	
</mapper>



