<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace : package처럼 용도별로 구분하기 위한 이름 -->
<mapper namespace="board">

	<insert id="insertBoard" parameterType="db.BoardDTOIn">
		insert into board set title=#{title},
							  content=#{content},
							  count = 0,
							  reg_date=now();
	</insert>
	
	<select id ="printBoard" resultType="hashmap">
		SELECT title, content, count, reg_date FROM board
	</select>
	
</mapper>



