@charset "utf-8";
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

/* reset css */
/*
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/NanumGothic-Regular.eot);
  src: url(../fonts/NanumGothic-Regular.woff) format('woff'),
       url(../fonts/NanumGothic-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/NanumGothic-Bold.eot);
  src: url(../fonts/NanumGothic-Bold.woff) format('woff'),
       url(../fonts/NanumGothic-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 800;
  src: url(../fonts/NanumGothic-ExtraBold.eot);
  src: url(../fonts/NanumGothic-ExtraBold.woff) format('woff'),
       url(../fonts/NanumGothic-ExtraBold.ttf) format('truetype');
}
*/

* {margin: 0; padding: 0; box-sizing:border-box;}
h1,h2,h3,h4,h5,h6 {font-weight: normal; font-size: 14px;}
html, body {width: 100%; height: 100%;}
body {font-family: "Nanum Gothic", sans-serif; font-size: 16px;}
section, article, nav, aside, footer, header {display: block;}
ol, ul {list-style: none;}
a {text-decoration: none; font-size: 14px; color: #373737; cursor: pointer;}
table {border-collapse: collapse; border-spacing: 0;}

/* ios 기본 스타일 제거*/
input[type=submit] {-webkit-appearance:none;}

/* common css*/
.imgw100 {width: 100%;}
.imgm100 {max-width: 100%;}
.readonly {text-indent:-9999px; display: none;} /*글자숨기기*/

/* loading css */
.load_bg {
  min-height: 100vmax;
  background: url(../images/bg_load.jpg) no-repeat center center;
  background-size: cover;
}
.load_bg h1 {
  color: #fff;
  font-size: 10vw;
  text-align: center;
  letter-spacing: 5px;
  padding-top: 30%;
  font-weight: 700;
}
.load_bg h2 {
  color: #fff;
  font-size: 7vw;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
}
.load-box {
  padding-top: 100%;
}
.load {
  margin: 0 auto;
  border: 1vh solid rgba(224, 224, 224, 0.6);
  border-top: 1vh solid rgba(17, 17, 17, 0.5);
  border-radius: 50%;
  width: 10vh;
  height: 10vh;
  animation: spin 1.5s linear infinite;
}
@keyframes spin {
  0%   {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}


/* main css */
.header {
  width: 100%;
  height: auto;
  background: #03c3c7;
  color: #fff;
  border-bottom: solid 1px rgba(17, 17, 17, 0.2);
  position: relative;
}
.header .headerTop {height: 56px;}
.header .btn_gnb {position: absolute; left: 15px; top: 13px;}
.header h1.logo {text-align: center; padding-top: 14px;}
.header .btn_search {position: absolute; right: 15px; top: 13px;}
.header i.headericon {font-size: 18px; color: #fff;}
.header .headerTop .btn_gnb, .btn_search {padding: 6px;}
.header h1 a {font-weight: bold; font-size: 22px; letter-spacing: 2px; color: #fff;}

.bar-search {height: 48px; background: #03c3c7; display: none; text-align: center;}
.bar-search .inner {padding: 5px 10px; position: relative;}
.bar-search .inner input {border-radius: 3px; border: 1px solid #ccc; text-align: left; width: 85%; height: 40px; padding-left: 10px;}
.bar-search .btn_search2_wrap {width: 50px; height: 40px; float: right; background: #fff; border-radius: 3px; border: 1px solid #ccc; padding-top: 8px;}
.bar-search a.btn_search2 {color: #03c3c7; font-size: 14px; font-weight: 700; padding: 8px;}

#slidebar-wrapper {
  width: 250px;
  height: 610px;
  position: fixed; left: 0; top: 0;
  z-index: 9999;
  transform: translateX(-250px);
  transition: all 0.4s ease 0s;
}

#slidebar-wrapper.active-nav {
  left: 250px; width: 250px;
  transition: all 0.4s ease 0s;
}
/*
#nav-wrapper {
  width: 100%;
  height: 100%;
  background: rgba(34, 34, 34, 0.7);
  position: fixed; left: 0; top: 0; z-index: 9998;
}*/
#slidebar-wrapper #nav-wrapper {display: block;}
#slidebar-wrapper .nav-top{width: 100%; height: 220px; background: #616b6b;}
#slidebar-wrapper .btn-close {float: right; color: #fff; font-size: 25px; padding: 12px;}
#slidebar-wrapper .slidebar-wrap {padding: 57px 0 30px 16px; }
#slidebar-wrapper .slidebar-brand {float: left; width: 110px; height: 110px; border-radius: 100%; border: 2px solid #fff; margin-right: 22px; background: url(../images/userImg/default.png) no-repeat center center; background-size: cover;}
#slidebar-wrapper .userName {padding: 30px 0 10px 0; font-size: 16px; color: #fff}
#slidebar-wrapper .userID {font-size: 16px; color: #fff;}
#slidebar-wrapper .userMail {font-size: 16px; color: #fff; padding: 15px 0 0 16px; float: left;}
#slidebar-wrapper .userEdit {font-size: 25px; color: #fff; padding: 12px 12px 0 12px; float: right;}
#slidebar-wrapper .sidebar-nav {background: #f3f3f3; clear: both;}
#slidebar-wrapper ul li {height: 65px; padding:10px 0 0 16px; border-bottom: 1px solid rgba(16, 16, 17, .1);}
#slidebar-wrapper ul li:active {background: rgba(99, 99, 99, .1);}
#slidebar-wrapper ul li a {font-size: 16px; color: #636363; padding: 15px 80px 15px 34px;}
#slidebar-wrapper ul li a:active {color: #03c3c7; font-weight: bold}
#slidebar-wrapper ul li i {font-size: 16px; color: #fff; width: 44px; height: 44px; border-radius: 100%; background: #03c3c7; text-align: center; padding-top: 13px;}
#slidebar-wrapper ul li i.active {background: #f35b5b}


.tap_bar {
  width: 100%;
  height: 40px;
  border-bottom: solid 1px rgba(17, 17, 17, 0.2);
  background: #03c3c7;
  padding: 0 4.4444%;
  clear: both;
}
.tab_cont ul li {
  width: 25%;
  height: 40px;
  text-align: center;
  float: left;
  padding: 10px 0px;
}
.tab_cont a {
  font-size: 0.95em;
  color: #fff;
  padding: 10px 18px;
}
.tab_cont ul li.active {
  border-bottom: 2px solid #ff5b5b;
  font-weight: bold;
}

.content {min-height: 80%;}

.main_visual {
  width: 100%;
  height: 224px;
  /*background: url(../images/bg_main.jpg) no-repeat center center;
  background-size: cover;*/
  position: relative;
  display: table;
}
.main_visual .inner {display: table-cell; vertical-align: middle;}
.backgroundimg {width: 100%; height: 100%;  position: absolute; left: 0; top: 0;}
#back1 {background: url(../images/bg_main1.jpg) no-repeat center center; background-size: cover;}
#back2 {background: url(../images/bg_main2.jpg) no-repeat center center; background-size: cover;}
#back3 {background: url(../images/bg_main3.jpg) no-repeat center center; background-size: cover;}
#back4 {background: url(../images/bg_main4.jpg) no-repeat center center; background-size: cover;}
#back5 {background: url(../images/bg_main5.jpg) no-repeat center center; background-size: cover;}

@keyframes backgroundchangeFadeInout {
  0%    {opacity:1;}
  17%   {opacity:1;}
  25%   {opacity:0;}
  92%   {opacity:0;}
  100%  {opacity:1;}
}
.backgroundchange div:nth-of-type(1) {
  animation-delay: 8s;
}
.backgroundchange div:nth-of-type(2) {
  animation-delay: 6s;
}
.backgroundchange div:nth-of-type(3) {
  animation-delay: 4s;
}
.backgroundchange div:nth-of-type(4) {
  animation-delay: 2s;
}
.backgroundchange div:nth-of-type(5) {
  animation-delay: 0s;
}
.backgroundchange div{
  animation: backgroundchangeFadeInout 10s ease-in-out infinite; /*8초 속도 반복*/
}

/*
.main_visual .main_title {
  width: 100%;
  height : 40px;
  padding: 5px 0;
  text-align: center;
  background: rgba(54, 54, 54, 0.5);
  color : #fff;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 2px;
  position: absolute;
  top: 170px;
}*/

.contents {overflow: hidden;}
.tab1_cont { clear: both; padding: 10px 8px;}
.tab1_cont > ul > li {width: 48.7804%; height: 100%;; float: left; background: #f7f7f7; text-align: center; margin-bottom: 2.4%;}
.tab1_cont > ul > li:nth-child(odd){margin-right: 2.439024%;}
.tab1_cont img {padding: 5px;}
.tab1_cont span {display: block; font-size: 16px; color: #363636; font-weight: bold; margin: 3px 0;}
.tab1_cont > ul > li a > p {height: 75px; font-size: 0.85em; padding: 0px 5px 5px; color: #373737; letter-spacing: -0.3px; text-align: justify; line-height:140%} /*양쪽정렬*/

.tab1_cont .count-wrap {display: block; margin: 10px 0;}
.tab1_cont .count-wrap li {display: inline-block; width: 30%;}
.tab1_cont .count-wrap p.count {display: inline-block;}
.tab1_cont .heartIcon{font-size: 14px; color: #ff5b5b;}
.tab1_cont .reviewIcon{font-size: 14px; color: #f1c40f;}
.tab1_cont .eyeIcon{font-size: 14px; color: #03c3c7;}
.tab1_cont .heartCount1, .heartCount2, .reviewCount1 {margin-right: 10px; }
.tab1_cont .heartCount1, .heartCount2, .reviewCount1, .reviewCount2 {display: inline; margin-left: 10px;}

.content .top {display: none; text-align: center; width: 38px; height: 38px; position: fixed; right: 4%; bottom: 3%; background: #03c3c7;}
.content .top a {display: block; font-size: 14px; padding: 0px 3px 2px; color: #fff; font-weight: bold}
.contents.top i {font-size: 12px;}

.footer {height: 40px; background: #4b4b4b; text-align: center; clear: both; line-height: 40px;}
.footer p {font-size: 10px; color: #fff; letter-spacing: 0}
/* main css END*/



/* admin main-css */
.adminbox { width: 100%; padding: 16px; min-height: 80%;}
.adminbox .hidden, caption, legend {font-size: 0; width: 0; height: 0; color: transparent; line-height: 0;}
.list {width: 100%; border-top: 2px solid #ccc; border-bottom: 2px solid #ccc;}
.list th {text-align: center; padding: 12px 0; color: #565656 ; font-weight: bold;}
.list tr:first-child td {border-top: 1px solid #b2b2b2;}
.list td {color: #717171; text-align: center; height: 18px; padding: 12px 0; border-bottom: 1px solid #f9f9f9;}

.admin_tap_bar {
  height: 40px;
  border-bottom: solid 1px rgba(17, 17, 17, 0.2);
  background: #03c3c7;
  padding: 0 4.4444%;
}
.admin_tab_cont ul li {
  width: 33%;
  height: 40px;
  text-align: center;
  float: left;
  padding: 10px 0px;
}
.admin_tab_cont a {
  font-size: 16px;
  color: #fff;
  padding: 10px 18px;
}
.admin_tab_cont ul li.active {
  border-bottom: 2px solid #ff5b5b;
  font-weight: bold;
}

.adminbox .paging {width: 100%; height: 25px; text-align: center; padding: 4px 0; border-top: 1px solid #c0c0c0; }
.adminbox .paging strong{margin-right: 5px; padding: 0px 6px;}
.adminbox .paging > a {margin-right: 5px; padding: 0px 6px; display: inline-block;}
.adminbox .paging a.write-btn {background: #03c3c7; color: #fff; padding: 5px; float: right;}


/* write css */
.adminbox input {width: 100%; height: 50px; margin: 5px 0; border: 1px solid #ccc; border-radius: 3px; padding: 0 5px; line-height: 50px;}
.adminbox textarea {width: 100%; height: 200px; resize: none; border: 1px solid #ccc; border-radius: 3px; padding: 5px; font-family: "Nanum-Gothic";} /* resize: none (사용자가 크기변경 못하게함)*/
.adminbox ul li label.filebox {width: 100%; display: inline-block; padding: 12px 20px; color: #fff; background: #9e9e9e; font-size: 16px; text-align: center; line-height: normal; vertical-align: middle; cursor: pointer; border: 1px solid #ccc;  border-radius: 3px;}
.adminbox ul li input[type="file"] {position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip: rect(0,0,0,0); border: 0;}
.adminbox .write-save {width: 49%; height: 50px; margin: 30px 0; background: #03c3c7; color: #fff; border: 1px solid #ccc; border-radius: 3px; font-size: 16px; cursor: pointer;}
.adminbox .write-cancel {background: #fb5b5b;}


/* pagination */

.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}
.pagination>li {
    display: inline;
}
.pagination > li > a {
	background: #fafafa;
    color: #666;
	border-radius: 0 !important;
}
.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}
.pagination>li.active>a {
    background: #03c3c7;
    color: #fff;
}

/*chrome에서 input tag 아웃라인 제거*/
input:focus {
  outline: none;
}
textarea:focus {
  outline: none;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #c3c3c3;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #c3c3c3;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #c3c3c3;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #c3c3c3;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #c3c3c3;
}


/* media query - mobile -> desktop */
/* mobile:  ~ 767px, tablet: 768px ~ 1199px, desktop: 1200px ~ */
@media (min-width: 768px) {
  /* index.html */
  .load_bg h1 {
      padding-top: 20%;
  }
  .load-box {
    padding-top: 75%;
  }
  /* main.html */
  .main_visual {
    height: 350px;
  }

  .tab1_cont ul li {
    width: 31.70731%;
    margin-bottom: 2.4%;
  }
  .tab1_cont ul li:nth-child(odd) {
    margin-right: 0%;
  }
  .tab1_cont ul li:nth-child(3n+2) {
    margin-right: 2.439024%;
    margin-left: 2.439024%;
  }
  .tab1_cont li:nth-child(1) .imgw100 {
    content: url(../images/trip_01d.jpg);
  }
  .tab1_cont li:nth-child(4) .imgw100 {
    content: url(../images/food_01d.jpg);
  }
  .tab1_cont li:nth-child(5) .imgw100 {
    content: url(../images/food_03d.jpg);
  }
  .tab1_cont li:nth-child(6) .imgw100 {
    content: url(../images/product_01d.jpg);
  }
}
@media (min-width: 1200px) {
  /* index.html */
  .load-box {
    padding-top: 90%;
  }
  /* main.html */
  .headerTop, .bar-search form, .tab_links, .footer {width: 100%; margin: 0 auto;}
  .tab_links, .contents {width: 1200px; margin: 0 auto;}
  .main_visual {
    height: 500px;
  }
  .headerTop h1.logo {
    text-align: center;
    padding-left: 20px;
  }
  .headerTop {
    height: 60px;
  }
  .headerTop .logo a {font-size: 26px;}

  .tab1_cont ul li {
    width: 23.7804825%;
    margin-bottom: 2.4%;
    margin-right: 1.626016% !important;
    margin-left: 0% !important;
  }
  .tab1_cont ul li:nth-child(4n) {
    margin-right: 0% !important;
  }
  .tab1_cont li:nth-child(1) .imgw100 {
    content: url(../images/trip_01d.jpg);
  }
  .tab1_cont li:nth-child(4) .imgw100 {
    content: url(../images/food_01d.jpg);
  }
  .tab1_cont li:nth-child(5) .imgw100 {
    content: url(../images/food_03d.jpg);
  }
  .tab1_cont li:nth-child(6) .imgw100 {
    content: url(../images/product_01d.jpg);
  }
}
