@charset "utf-8";
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

/* reset css */
/*
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/NanumGothic-Regular.eot);
  src: url(../fonts/NanumGothic-Regular.woff) format('woff'),
       url(../fonts/NanumGothic-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/NanumGothic-Bold.eot);
  src: url(../fonts/NanumGothic-Bold.woff) format('woff'),
       url(../fonts/NanumGothic-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 800;
  src: url(../fonts/NanumGothic-ExtraBold.eot);
  src: url(../fonts/NanumGothic-ExtraBold.woff) format('woff'),
       url(../fonts/NanumGothic-ExtraBold.ttf) format('truetype');
}
*/

* {margin: 0; padding: 0; box-sizing:border-box;}
h1,h2,h3,h4,h5,h6 {font-weight: normal; font-size: 14px;}
html, body {width: 100%; height: 100%;}
body {font-family: "Nanum Gothic", sans-serif; font-size: 16px;}
section, article, nav, aside, footer, header {display: block;}
ol, ul {list-style: none;}
a {text-decoration: none; font-size: 14px; color: #373737; cursor: pointer;}
table {border-collapse: collapse; border-spacing: 0;}
strong {font-size: 14px; color: #373737}
/* ios 기본 스타일 제거*/
input[type=submit] {-webkit-appearance:none;}

/* common css*/
.imgw100 {width: 100%;}
.imgm100 {max-width: 100%;}
.readonly {text-indent:-9999px; display: none;} /*글자숨기기*/

/* main css */
.header {
  width: 100%;
  height: auto;
  background: #03c3c7;
  color: #fff;
  border-bottom: solid 1px rgba(17, 17, 17, 0.2);
  position: relative;
}
.header .headerTop {height: 56px;}
.header .btn_gnb {position: absolute; left: 15px; top: 13px;}
.header h1.logo {text-align: center; padding-top: 14px;}
.header .btn_search {position: absolute; right: 15px; top: 13px;}
.header i.headericon {font-size: 18px; color: #fff;}
.header .headerTop .btn_gnb, .btn_search {padding: 6px;}
.header h1 a {font-weight: bold; font-size: 22px; letter-spacing: 2px; color: #fff;}

.bar-search {height: 48px; background: #03c3c7; display: none; text-align: center;}
.bar-search .inner {padding: 5px 10px; position: relative;}
.bar-search .inner input {border-radius: 3px; border: 1px solid #ccc; text-align: left; width: 85%; height: 40px; padding-left: 10px;}
.bar-search .btn_search2_wrap {width: 50px; height: 40px; float: right; background: #fff; border-radius: 3px; border: 1px solid #ccc; padding-top: 8px;}
.bar-search a.btn_search2 {color: #03c3c7; font-size: 14px; font-weight: 700; padding: 8px;}

#slidebar-wrapper {
  width: 250px;
  height: 610px;
  position: fixed; left: 0; top: 0;
  z-index: 9999;
  transform: translateX(-250px);
  transition: all 0.4s ease 0s;
}

#slidebar-wrapper.active {
  left: 250px; width: 250px;
  transition: all 0.4s ease 0s;
}

nav .nav-top{width: 100%; height: 220px; background: #616b6b;}
nav .btn-close {float: right; color: #fff; font-size: 25px; padding: 12px;}
nav .slidebar-wrap {padding: 57px 0 30px 16px; }
nav .slidebar-brand {float: left; width: 110px; height: 110px; border-radius: 100%; border: 2px solid #fff; margin-right: 22px; background: url(../images/user.jpg) no-repeat center center; background-size: cover;}
nav .userName {padding: 30px 0 10px 0; font-size: 16px; color: #fff}
nav .userID {font-size: 16px; color: #fff;}
nav .userMail {font-size: 16px; color: #fff; padding: 15px 0 0 16px; float: left;}
nav .userEdit {font-size: 25px; color: #fff; padding: 12px 12px 0 12px; float: right;}
nav .sidebar-nav {background: #f3f3f3; clear: both;}
nav ul li {height: 65px; padding:10px 0 0 16px; border-bottom: 1px solid rgba(16, 16, 17, .1);}
nav ul li:active {background: rgba(99, 99, 99, .1);}
nav ul li a {font-size: 16px; color: #636363; padding: 15px 80px 15px 34px;}
nav ul li a:active {color: #03c3c7; font-weight: bold}
nav ul li i {font-size: 16px; color: #fff; width: 44px; height: 44px; border-radius: 100%; background: #03c3c7; text-align: center; padding-top: 13px;}
nav ul li i.active {background: #f35b5b}

.tap_bar {
  width: 100%;
  height: 40px;
  border-bottom: solid 1px rgba(17, 17, 17, 0.2);
  background: #03c3c7;
  padding: 0 4.4444%;
  clear: both;
}
.tab_cont ul li {
  width: 25%;
  height: 40px;
  text-align: center;
  float: left;
  padding: 10px 0px;
}
.tab_cont a {
  font-size: 0.95em;
  color: #fff;
  padding: 10px 18px;
}
.tab_cont ul li.active {
  border-bottom: 2px solid #ff5b5b;
  font-weight: bold;
}

/* sub contents start */

.sub-contents {padding: 10px 16px 10px; background: #e3e3e3}
.sub-contents > ul > li {width: 100%; height: 164px; overflow: hidden; margin-bottom: 10px;}
.sub-contents > ul > li img {width: 164px; height: 100%; float: left;}
.sub-contents .content {width: calc(100% - 164px); height: 100%; background: #fff; float: left; padding: 16px 10px 10px}
.sub-contents .sub-title {font-size: 1em; font-weight: bold; color: #373737; padding-bottom: 10px}
.sub-contents .sub-content {font-size: 0.9em; color: #373737; text-align: justify; letter-spacing: -1px; 
overflow: hidden; text-overflow: ellipsis;
display: -webkit-box; 
-webkit-line-clamp: 2; /*라인수*/
-webkit-box-orient: vertical;
word-wrap:break-word;
line-height: 1.5em;
height: 3em;}


/* 글자수 넘어가면 ... 표시*/
/*
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
white-space: normal;
width: 100%;
height: 50px;
word-wrap: break-word;
display: -webkit-box;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;
*/


.sub-contents .sub-address {font-size: 0.8em; color: #373737; height: 20px; margin: 15px 0 10px 0; line-height: 1.5em;}
.sub-contents .sub-address i {color: #03c3c7;}

.sub-contents .count{display: block; margin: 5px 0;}
.sub-contents .heartIcon{font-size: 14px; color: #ff5b5b;}
.sub-contents .reviewIcon{font-size: 14px; color: #f1c40f}
.sub-contents .heartCount1, .heartCount2 {margin-right: 30px; }
.sub-contents .heartCount1, .heartCount2, .reviewCount1, .reviewCount2 {display: inline; margin-left: 10px;}

.sub-contents .paging {width: 100%; height: 25px; text-align: center; padding: 4px 0; border-top: 1px solid #c0c0c0;}
.sub-contents .paging strong{margin-right: 5px; padding: 0px 6px;}
.sub-contents .paging > a {margin-right: 5px; padding: 0px 6px; display: inline-block;}

.sub-contents .top {display: none; text-align: center; width: 38px; height: 38px; position: fixed; right: 4%; bottom: 3%; background: #03c3c7;}
.sub-contents .top a {display: block; font-size: 14px; padding: 0px 3px 2px; color: #fff; font-weight: bold}
.sub-contents .top i {font-size: 12px;}
/* sub contents end */

/* sub contents view css */
.sub-contents-view {height: 100%; padding: 10px 16px 10px; overflow: auto;}
.sub-contents-view img {display: block; margin: auto;}
.sub-contents-view .content {width: 100%; height: auto; ; padding: 10px 0px; margin-bottom: 40px;}
.sub-contents-view .sub-title {font-size: 20px; font-weight: bold; color: #373737;}

.sub-contents-view .info {margin: 10px 0; padding: 10px 5px; border-bottom: 1px solid #ccc; border-top: 1px solid #ccc;}
.sub-contents-view .info i {color: #03c3c7; padding-right: 15px; font-size: 18px;}
.sub-contents-view .info .sub-address {font-size: 16px; color: #373737; font-weight: normal;}
.sub-contents-view .info p {margin: 5px 0;}

.sub-contents-view .sub-content {padding: 10px; background: #f7f7f7; font-size: 14px; color: #373737; text-align: justify; letter-spacing: -0.5px; line-height: 1.5em;}


.sub-contents-view .sns-box {width: 100%; height : 50px; text-align: center; margin: 10px 0; padding: 10px; border-top: 1px solid #ccc;}
.sub-contents-view .sns-box i {font-size: 30px; margin: 0 5px;}
.sub-contents-view .sns-box .facebook {color: #3d5b99;}
.sub-contents-view .sns-box .twitter {color: #00b6f1;}
.sub-contents-view .sns-box .google {color: #d62223;}



.sub-contents-view .count {width: 100%; height: 50px; margin: 10px 0;}
.sub-contents-view .count ul li {display: inline-block; width: 32%; height: 30px; line-height: 30px; text-align: center; border-radius: 3px;}
.sub-contents-view .count ul li:nth-child(1) {background: #fb5b5b;}
.sub-contents-view .count ul li:nth-child(2) {background: #f1c40f;}
.sub-contents-view .count ul li:nth-child(3) {background: #03c3c7;}
.sub-contents-view .count i {color: #fff; font-size: 14px;}
.sub-contents-view .count p {color: #fff; font-size: 14px; font-weight: bold;}

.sub-contents-view .heartIcon, .heartCount1, .reviewIcon, .reviewCount1 {display: inline; margin-left: 5px;}

.sub-contents-view .top {display: none; text-align: center; width: 38px; height: 38px; position: fixed; right: 4%; bottom: 3%; background: #03c3c7;}
.sub-contents-view .top a {display: block; font-size: 14px; padding: 0px 3px 2px; color: #fff; font-weight: bold}
.sub-contents-view .top i {font-size: 12px;}

.sub-contents-view .btn-cnt {
	display: inline-block;
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 3px;
    background: #fb5b5b;
    /*
  	border: 0;
    outline: 0;
    */
    cursor: pointer;
}

/* reply */
.sub-contents-view .wrap-reply-list {width: 100%; height: auto; position: relative; color: #373737; font-size: 15px;}
.sub-contents-view h3 {font-size: 20px; font-weight: bold; margin-bottom: 15px; }
.sub-contents-view .wrap-reply-list ul {width: 100%; height: auto; padding: 5px; margin-bottom: 10px;
border-bottom: 1px solid #ccc; overflow: hidden;}
.sub-contents-view .wrap-reply-list li {width: 100%; height: auto;}
.sub-contents-view .wrap-reply-list > ul > li:nth-child(1) {width: 45px; height: auto; float: left;}
.sub-contents-view .wrap-reply-list > ul > li:nth-child(2) {width: 85%; height: auto; float: left; padding: 6px 0;}
.sub-contents-view .wrap-reply-list > ul > li .user-img {width: 30px; height: 30px; border-radius: 100%;
background: url(../images/user.jpg) no-repeat center center; background-size: cover;}
.sub-contents-view .wrap-reply-list > ul > li p:nth-child(1) {float: left; padding-right: 10px; border-right: 1px solid #ccc; font-weight: bold;}
.sub-contents-view .wrap-reply-list > ul > li p:nth-child(2) {float: left; padding-left: 10px;}
.sub-contents-view .wrap-reply-list > ul > li p:nth-child(3) {clear: both; padding-top: 10px; letter-spacing: 0.4px; line-height: 1.4; }
.sub-contents-view .wrap-reply-list > ul > li a {width: 40px; height: 25px; line-height: 25px; float: right; margin-right: 5px;
  text-align: center; background: #03c3c7; color: #fff; border-radius: 10%; font-size: 12px;}
.sub-contents-view .wrap-reply-list > ul > li a:hover {font-weight: bold; text-decoration: underline;}

.sub-contents-view .wrap-reply-add {width: 100%; height: auto; overflow: hidden; position: relative; margin-top: 60px; margin-bottom: 40px;}
.sub-contents-view .input-add {width: 80%; height: 24px; border: 0; border-bottom: 2px solid #ccc; overflow: visible;
font-size: 15px; color: #373737;}
.sub-contents-view .btn-add-reply {width: 60px; height: 30px; position: absolute; top: 45%; margin-top: -15px;
margin-left: 8px; background: #03c3c7; color: #fff; border: 0; border-radius: 10%;}

.footer {height: 40px; background: #4b4b4b; text-align: center; clear: both; line-height: 40px; }
.footer p {font-size: 10px; color: #fff; letter-spacing: 0}


/*chrome에서 input tag 아웃라인 제거*/
input:focus {
  outline: none;
}
textarea:focus {
  outline: none;
}

/* media query */
@media (min-width: 768px) {

  .sub-contents .sub-title {font-size: 1.2em;}
  .sub-contents .sub-content {font-size: 1.1em;}
  .sub-contents .sub-address {font-size: 1.05em;}
  /*-view.html */
  .sub-contents-view .sub-title {font-size: 1.2em; }
  .sub-contents-view .info .sub-address {font-size: 1em;}
  .sub-contents-view .sub-content {font-size: 1em}

  .sub-contents-view img {width: 492px; height: 492px;}
  
  .sub-contents-view .wrap-reply-list > ul > li:nth-child(2) {width: 93%;}
  .sub-contents-view .input-add {width: 90%;}
}

@media (min-width: 1200px) {
  /* main.html */
  .tab_links, .contents, .sub-contents, .sub-contents-view, .footer {width: 1200px; margin: 0 auto;}

  .main_visual {
    height: 500px;
  }
  .headerTop h1.logo {
    text-align: center;
    padding-left: 20px;
  }
  .headerTop {
    height: 60px;
  }
  .headerTop .logo a {font-size: 26px;}

  .sub-contents ul li {height: 246px;}
  .sub-contents ul li img {width: 246px;}
  .sub-contents .content {width: calc(100% - 246px);}
  .sub-contents .sub-title {font-size: 1.5em;}
  .sub-contents .sub-content {font-size: 1.3em;}
  .sub-contents .sub-address {font-size: 1.25em;}

  .sub-contents-view .sub-title {font-size: 1.5em; }
  .sub-contents-view .info .sub-address {font-size: 1.2em;}
  .sub-contents-view .sub-content {font-size: 1.2em}
  
  .sub-contents-view .wrap-reply-list > ul > li:nth-child(2) {width: 96%;}
  .sub-contents-view .input-add {width: 94%;}

}
