<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace : package처럼 용도별로 구분하기 위한 이름 -->
<mapper namespace="member">
	
	<insert id="insertMember" parameterType="dto.MemDTOIn">
		INSERT INTO member SET
		id = #{id}, pw = SHA1(#{pw}),
		name = #{name}, phone = #{phone}, email = #{email};
	</insert>
	
	<delete id="deleteMember" parameterType="String">
		DELETE FROM member WHERE id = #{id};
	</delete>

	<select id="selectIdCheck" parameterType="String" resultType="dto.MemDTOIn">
		SELECT id FROM member WHERE id = #{id};
	</select>

	<select id="selectLogin" parameterType="dto.MemDTOIn" resultType="dto.MemDTOIn">
		SELECT id, name, email FROM member WHERE
		id = #{id} and pw = SHA1(#{pw});
	</select>
	
	<select id="selectLoadEdit" parameterType="String" resultType="dto.MemDTOIn">
		SELECT phone FROM member WHERE id = #{id};
	</select>
	
	<update id="updateEdit" parameterType="dto.MemDTOIn">
		UPDATE member
			<set>
				<if test="pw != null">pw = SHA1(#{pw}),</if>
				<if test="name != null">name = #{name},</if>
				<if test="phone != null">phone = #{phone},</if>
				<if test="email != null">email = #{email}</if>
			</set>
		WHERE id = #{id};
	</update>

</mapper>



